*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo{
  padding-top: 20px;
  padding-left: 30px;
}
  
.sign_content{
  display: flex;
  
}

.left_sign{
  background-color: #2d90ec;
  height: 100vh;
  width: 50%;
  color: white;
}

.left_sign h3{
  text-align: center;
}

.left_sign p{
  text-align: center;
}

.left_sign-content{
  padding-top: 9.5rem;
  

}

.img-group{
  width: 400px;
  height: 400px;
  
}

.right_sign{
  background-color: white;
  margin: 0 auto;
  padding-top: 15rem;
  
}

.right_sign h3{
  padding-top: 27px;
}

.right_sign-contnet{
 
}

.form_content{
  display: flex;
  flex-direction: column;
}

.btn{
  background-color: #2d90ec;
  text-align: center;
  cursor: pointer;
}

.btn:hover{
  background-color: #1263af;
}

.btn-submit{

}
